// 「おすすめ」タブを非表示にする
div[role="tablist"] div[role="presentation"]:has(:is(a[href="/home"], div[role="tab"])):nth-child(1) {
	display: none !important;
}

// なにかの間違いで「おすすめ」が選択されてしまっているときのみ「おすすめ」タブを表示する
div[role="tablist"] div[role="presentation"]:has(:is(a[href="/home"], div[role="tab"])[aria-selected="true"]):nth-child(1) {
	display: flex !important;
}

// タブメニューの上にある「ホーム」を非表示にする
div[data-testid="primaryColumn"]:has(:is(a[href="/home"], div[role="tab"])[role="tab"]) div.css-1dbjc4n.r-1loqt21.r-136ojw6 {
	display: none !important;
}